:root {
  --font-color: #black;
  --font-cta: #d6001d;
  --font-color-dark: #aaa;
  --font-style: Arial, Helvetica, sans-serif;
  --border-color: #222;
  --background-light: rgba(255, 255, 255, 1);
  --background-light-hover: rgba(99, 99, 99, 0.2);
  --background-dark: rgba(0, 0, 0, 0.9);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-family: var(--font-style);
  font-size: 1.6rem;
  color: var(--font-color);
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

header {
  font-size: 2.4rem;
}

header .logo {
  width: fit-content;
  height: fit-content;
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0.8rem;
  background-color: var(--background-light);
  border-bottom: 1px solid var(--border-color);
}

.button-nav {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  border-style: none;
  outline: none;
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: transparent;
  border-bottom: 4px solid transparent;
  transition: transform 0.3s;
}

.button-nav.active {
  border-bottom: 4px solid red;
}

.button-nav:hover {
  transform: translateY(-10%);
}

/* Main */

.main-home {
  width: 60vw;
  padding: 2rem 5rem;
  margin: 6rem 0;
  font-size: 2rem;
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
}

.main-menu {
  width: 80vw;
  padding: 4rem;
  margin: 6rem 0;
  font-size: 2rem;
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
}

.main-contact {
  max-width: 700px;
  padding: 4rem;
  margin: 6rem 0;
  font-size: 2rem;
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
}

/* Home page */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  animation: fadeIn 1.5s;
}

.home h1 {
  font-size: 4rem;
  color: var(--font-cta);
}

.home p {
  padding-top: 1rem;
  font-size: 2rem;
}

/* Menu page */

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  animation: fadeIn 1.5s;
}

.menu-header {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--font-cta);
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 4rem;
  cursor: pointer;
  background-color: var(--background-light);
  transition: background-color 0.3s;
}

.menu h2 {
  text-align: center;
}

.menu-item:hover {
  background-color: var(--background-light-hover);
  border: 2px solid black;
  border-radius: 15px;
}

.menu-item img {
  width: 60%;
}

/* Contact page */

.contact {
  height: 100%;
  width: 100%;
  animation: fadeIn 1.5s;
}

.contact p {
  width: 100%;
  padding: 1rem 0rem;
}

.contact .image-container {
  display: flex;
  flex-flow: row;
  padding-top: 2rem;
}

.contact .delivery-image {
  max-width: 50%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.button-deliver {
  background-color: #ffb11f; /* Green */
  border: 2px solid #ffb11f;
  border-radius: 8px;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 30%;
}

.button-deliver:hover {
  background-color: #f19d00;
  border: 2px solid #f19d00;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  background-color: var(--background-light);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #222;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Media queries */

/* To be fixed in the future */

@media (max-width: 700px) {
  .home,
  .contact {
    height: 100%;
    width: 100%;
  }

  .menu {
    grid-template-columns: 1fr;
  }

  .menu img {
    width: 50%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 57.5%;
  }

  .home img {
    width: 80%;
  }
}
